#container{
    background: #424242;
    width: 600px;
    height: 600px;
}

input{
    width: 600px;
    border: 2px solid rgb(75, 74, 74);
    margin-top: 5px;
    border-radius: 10px;
}
input::placeholder{
    padding:30px;
    font-size: 20px;
}