#container{
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
#image-container{
    position: absolute;
}
#image-container img{
    width: 800px;
    height: 500px;
    display: block;
    float: left;
}
.dots-container ul li{
    width: 10px;
    height: 10px;
    border:1px solid red;
    border-radius: 50%;
    list-style-type: none;
    display: inline-block;
}
.active{
    background-color: lightseagreen;
}
#next,#previous{
    position: absolute;
    cursor: pointer;
    bottom: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 39px;
    left: 93%;
    background: #d4d4d4;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.5;
}
#previous{
    left: 50px;
}
.dots-container{
    position: absolute;
    bottom: 83px;
    left: 50%;
    transform: translateX(-50%);
}
